<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="send-message">Send Message</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="receive-message">Receive Message</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="message-history">Message History</a>
    </li>
</ul>