@page "/receive-message"
@using ChatService.MessageSenderClient.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client

<h3>Messages</h3>

@foreach (var message in _messages)
{ 
    <li>@message.Date.ToString("T"): @message.Content (ID: @message.Id)</li>
}

@code {
    private readonly List<MsgDto> _messages = [];
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5150/chathub")
            .Build();

        _hubConnection.On<MsgDto>("ReceiveMessage", (msgDto) =>
        {
            var existingMessageIndex = _messages.FindIndex(m => m.Id == msgDto.Id);
            if (existingMessageIndex >= 0)
            {
                _messages[existingMessageIndex] = msgDto;
            }
            else
            {
                _messages.Add(msgDto);
            }

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }
}